

.health__container{
	display: block;
	padding: 0px 15px;
}
.health__content{
	padding: 150px 0px 0px 0px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	transition: all 0.9s ease 0s;
}
.health__content__text{
	display: block;
	flex: 0 1 40%;
	align-self: center;
}
.health__content__text :not(:last-child){
	margin: 0px 0px 12px 0px;
}
.health__title{
	font-family: Rubik;
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
}
.health__title span{
	color: #4285F4;
	font-size: 44px;
}
.health__text{
	font-family: Rubik;
	font-weight:normal;
	font-size: 12px;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	color: #616161;

}
.health__button{
	padding-top: 12px ;
}
.health-button{
	
	background-color: #ec5863;
}
.health__img{
	display: flex;
	justify-content: flex-end;
	flex: 0 1 60%;
	width: 100%;
}
.health__img img {
	max-width: 100%;
}
.health__video{
	display: flex;
	flex: 0 1 100%;
	
	position: relative;
}

.health__video-block{
	display: flex;

	
}
.health__video__text{
	padding-left: 12px;
	display: block;
	align-self: center;

}
.health__video__stay{
	color: #B0B0B0;
	font-family: Rubik;
	font-weight: normal;
	font-size: 13px;
	line-height: 126%;
}
.health__video__watch{
	font-family: Rubik;
	font-weight: normal;
	font-size: 9px;
	line-height: 126%;
	letter-spacing: 0.165em;
	text-transform: uppercase;
}
.health__container{
	position: relative;
}
.health__container::before {
	content: "";
	position:  absolute;
	width: 100vmax;
	height: 100%;

	top: 0;
	right: 25% ;
	transform: translate(100%, 0px);
	background: #EC5863;
	border-radius: 30px 0px 0px 30px;
}
@media (max-width:767.98px){
	.health__content{
		justify-content: center;
		
		flex-wrap: wrap;
		flex: 0 1 100%;

	}
	.health__content__text{
		flex:  0 1 100%;
	}
	.health__img{
		flex: 0 1 100%;
	}
}
@media (max-width:991.98px){
	.health__content{
		justify-content: center;
		
		flex-wrap: wrap;
		flex: 0 1 100%;

	}
	.health__content__text{
		flex:  0 1 100%;
		text-align: center;
	}
	.health__img{
		flex: 0 1 100%;
		justify-content: center;
	}
	.health__container::before{
		opacity: 0.6;
	}
	.health__img{
		margin-top: 20px;
	}
}
@media (max-width: 479.98px){
	.health__title, .health__title span{
		font-size: 30px;
	}
	.health__content{
		padding: 100px 0px 0px 0px;
	}
}
